
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
label{
  font-weight: bold;
}
.landing__title {
  margin-top: 24px;
  text-align: center;
  color: #90bdea;
}
.landing__subtitle{
  font-size: 18px;
  color: #7c8ba1;
  text-align: center;
}
.form-date {
  margin: 0px 48px;
  margin-bottom: 8px;
  width: 180px;
}
.form-wrapper {
  display: flex;
  margin-top: 36px;
}
.form-title{
  color: #90bdea;
  letter-spacing: 1px; 
}
.restaurant-form{
  width: calc(100% / 3);
}
.calendar-forms{
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}
.time-forms{
  width: calc(100% / 3);
}
.metric__title {
  margin-top: 24px;
  color: #90bdea;
  letter-spacing: 1px; 
  text-align: center;
}
.metric-forms{
  margin-top: 24px;
  display: flex;
  padding: 0px 64px;
}
.metric__code--form{
  width: 50%;
  margin-right: 36px;
}
.metric__compare--form{
  width: 25%;
}
.metric__value--form{
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
