label{
  font-weight: bold;
}
.landing__title {
  margin-top: 24px;
  text-align: center;
  color: #90bdea;
}
.landing__subtitle{
  font-size: 18px;
  color: #7c8ba1;
  text-align: center;
}
.form-date {
  margin: 0px 82px;
  margin-bottom: 8px;
  width: 180px;
}
.form-wrapper {
  display: flex;
  margin-top: 36px;
}
.form-title{
  color: #90bdea;
  letter-spacing: 1px; 
}
.restaurant-form{
  width: calc(100% / 3);
}
.calendar-forms{
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}
.time-forms{
  width: calc(100% / 3);
}
.metric__title {
  margin-top: 24px;
  color: #90bdea;
  letter-spacing: 1px; 
  text-align: center;
}
.metric-forms{
  margin-top: 24px;
  display: flex;
  padding: 0px 64px;
}
.metric__code--form{
  width: 50%;
  margin-right: 36px;
}
.metric__compare--form{
  width: 25%;
}
.metric__value--form{
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}
.submit__button--wrapper {
  text-align: center;
  margin-top: 24px;
}
.ui.button.submit__button{
  cursor: pointer;
  background-color: #90bdea;
  border: none;
  padding: 16px 40px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: all 300ms ease;
}
.ui.button.submit__button:hover{
  background-color: #5d3eff;
  color: white;
}
.results__title {
    margin-top: 36px;
    color: #90bdea;
    letter-spacing: 1px; 
    text-align: center;
}
.no__results {
  font-weight: 900;
  font-size: 18px;
}